body {
	font-family:  'Lora',  “楷体”, sans-serif;
}

/* 标题部分 */
#pad-wrapper h1.title{
	font-size: 30px;
	margin-bottom: 25px;
}

/* 次标题部分 */
#pad-wrapper p{
	font-size: 15px;
	margin-bottom: 20px;
}

#pad-wrapper h2.sub_title{
	font-size: 20px;
	margin-bottom: 25px;
}

/* 按钮 */
#pad-wrapper .section{
	margin-bottom:15px;
}


/* 输入框 */
.form-wrapper .field-box{
	margin-bottom:10px;
}

.form-wrapper label{
	width:100px;
	font-weight: normal;
	font-size:15px;
}

.row-fluid .span8{
	width:100px;
}

