body,td,th, #pad-wrapper{font-family: KaiTi ,'微软雅黑',sans-serif; font-size: 15px;color: #1d1007; line-height:24px}

/* 标题部分 */
#pad-wrapper h1.title{
	font-size: 30px; 
	font-family: KaiTi ,'微软雅黑',sans-serif;
	margin-bottom: 25px;
}

/* 次标题部分 */
#pad-wrapper p{
	font-size: 15px;
	font-family: KaiTi ,'微软雅黑',sans-serif;
	margin-bottom: 20px;
}

#pad-wrapper h2.sub_title{
	font-size: 20px; 
	font-family: KaiTi ,'微软雅黑',sans-serif;
	margin-bottom: 25px;
}

/* 按钮 */
#pad-wrapper .section{
	margin-bottom:15px;
}


/* 输入框 */
.form-wrapper .field-box{
	margin-bottom:10px;
}

.form-wrapper label{
	width:100px;
	font-weight: normal;
	font-size:15px;
}

.row-fluid .span8{
	width:100px;
}

