{% extends 'app1/base.html' %}
{% load static from staticfiles %}

{% block linkscript %}

<link rel="icon" href="https://static.jianshukeji.com/highcharts/images/favicon.ico">
<meta name="viewport" content="width=device-width, initial-scale=1">

<script src="https://img.hcharts.cn/highcharts/highcharts.js"></script>
<script src="https://img.hcharts.cn/highcharts/modules/exporting.js"></script>
<script src="https://img.hcharts.cn/highcharts/modules/histogram-bellcurve.js"></script>
<script src="https://img.hcharts.cn/highcharts-plugins/highcharts-zh_CN.js"></script>

{% endblock linkscript %}


{% block base %}

{#    GBM参数信息输入   #}
<form id="gbm_params" method="post">
    {% csrf_token %}
    定价日期： <input id="pricing_date_y" name="pricing_date_y"  value=2017 style="width: 80px; height: 30px; background-color: whitesmoke">年
    <input id="pricing_date_m" name="pricing_date_m"  value=1 style="width: 80px; height: 30px; background-color: whitesmoke">月
    <input id="pricing_date_d" name="pricing_date_d"  value=1 style="width: 80px; height: 30px; background-color: whitesmoke">日<br>

    到期日期： <input id="final_date_y" name="final_date_y"  value=2018 style="width: 80px; height: 30px; background-color: whitesmoke">年
    <input id="final_date_m" name="final_date_m"  value=1 style="width: 80px; height: 30px; background-color: whitesmoke">月
    <input id="final_date_d" name="final_date_d"  value=1 style="width: 80px; height: 30px; background-color: whitesmoke">日<br>


    标的现价： <input id="initial_value" name="initial_value" value=100 style="width: 80px; height: 30px; background-color: whitesmoke"><br>
    年波动率： <input id="volatility" name="volatility"  value=0.1 style="width: 80px; height: 30px; background-color: whitesmoke"><br>
    时间频率： <input id="frequency" name="frequency" value='M' style="width: 80px; height: 30px; background-color: whitesmoke"><br>
    短期利率： <input id="csr" name="csr" value=0.05 style="width: 80px; height: 30px; background-color: whitesmoke"><br>
    路径数量： <input id="paths" name="paths" value=1000 style="width: 80px; height: 30px; background-color: whitesmoke"><br>

    货币种类： <input id="currency" name="currency" value='EUR' style="width: 80px; height: 30px; background-color: whitesmoke"><br>
    <button id="submit" type="submit" style="width: 80px; height: 30px; background-color: greenyellow">模拟</button>
</form>

<div id="container" style="width: 800px; height: 400px;"></div>

{# 提交参数信息#}
<script>

        $.ajaxSetup({
               data: {csrfmiddlewaretoken: '{{ csrf_token }}' },
        });

        $('#gbm_params').submit(function () {
            var pricing_date_y = $('#pricing_date_y').val();
            var pricing_date_m = $('#pricing_date_m').val();
            var pricing_date_d = $('#pricing_date_d').val();

            var final_date_y = $('#final_date_y').val();
            var final_date_m = $('#final_date_m').val();
            var final_date_d = $('#final_date_d').val();

            var initial_value = $('#initial_value').val();
            var volatility = $('#volatility').val();
            var frequency = $('#frequency').val();
            var csr = $('#csr').val();
            var paths = $('#paths').val();

            var currency = $('#currency').val();

           $.ajax({
                type: 'POST',
                data: {
                    pricing_date_y: pricing_date_y,
                    pricing_date_m: pricing_date_m,
                    pricing_date_d: pricing_date_d,
                    final_date_y: final_date_y,
                    final_date_m: final_date_m,
                    final_date_d: final_date_d,
                    initial_value: initial_value,
                    volatility: volatility,
                    frequency: frequency,
                    csr: csr,
                    paths: paths,
                    currency: currency,
                    "gi":math.random(),},
                url: '/options/gbm/',
                dataType: 'json',
                {#async:false,#}
                success: function (){

                },
                error: function () {
                    alert('输入参数错误');
                }
            });

            return false;
        });

var data = {{ data }}
Highcharts.chart('container', {
	title: {
		text: 'GBM模型：标的资产到期日价格直方分布图'
	},
	xAxis: [{
		title: { text: '数据点' }
	}, {
		title: { text: '价格' },
		opposite: true
	}],
	yAxis: [{
		title: { text: '价格' }
	}, {
		title: { text: '分布数量' },
		opposite: true
	}],
	series: [{
		name: '直方分布图',
		type: 'histogram',
		xAxis: 1,
		yAxis: 1,
		baseSeries: 's1',
		zIndex: -1
	}, {
		name: '数据点',
		type: 'scatter',
		data: data,
		id: 's1',
		marker: {
			radius: 0.8
		}
	}]
});

</script>





{% endblock base %}